In [4]:
#Importing the basic librarires fot analysis

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('coches-de-segunda-mano-sample.csv')

# Look at the variables names
print(df.columns)

# Check the data types
print(df.dtypes)

# Summary Statistics
print(df.describe)

df.head()

Index(['url', 'company', 'make', 'model', 'version', 'price', 'price_financed',
       'fuel', 'year', 'kms', 'power', 'doors', 'shift', 'color', 'photos',
       'is_professional', 'dealer', 'province', 'country', 'publish_date',
       'insert_date'],
      dtype='object')
url                 object
company             object
make                object
model               object
version             object
price                int64
price_financed     float64
fuel                object
year               float64
kms                  int64
power              float64
doors                int64
shift               object
color               object
photos               int64
is_professional       bool
dealer              object
province            object
country             object
publish_date        object
insert_date         object
dtype: object
<bound method NDFrame.describe of                                     url                           company  \
0      e158ae0ca53119ca199c28c36b5c2fcd  9881bcdd5a0ad4733037b3fb25e69c3a
1      ff267ebb7e700246f47f84f3db660b4b  9881bcdd5a0ad4733037b3fb25e69c3a
2      de4b02db28ea7786c622b969be10c7c7  9881bcdd5a0ad4733037b3fb25e69c3a
3      0449972a4d07594acf92e9a7dd28b39c  9881bcdd5a0ad4733037b3fb25e69c3a
4      12c4fa49bd4fdf23f19ecf396d3f02ef  9881bcdd5a0ad4733037b3fb25e69c3a
...                                 ...                               ...
49995  730210734bfbe1d3df878d5df71246f2  9881bcdd5a0ad4733037b3fb25e69c3a
49996  732b04fb47dd9559dbdcd099c5af484e  9881bcdd5a0ad4733037b3fb25e69c3a
49997  c10afb53957fb8012707239bdfa66018  9881bcdd5a0ad4733037b3fb25e69c3a
49998  f74363a6688ba11b71b4d980a959b8d3  9881bcdd5a0ad4733037b3fb25e69c3a
49999  3d60801ccb96ef038747130e8a34ceda  9881bcdd5a0ad4733037b3fb25e69c3a

             make            model  \
0            SEAT           Toledo
1         CITROEN               C1
2            FORD  Transit Connect
3      VOLKSWAGEN        Caravelle
4            FORD          Transit
...           ...              ...
49995     HYUNDAI              i30
49996     RENAULT           Laguna
49997     PEUGEOT              108
49998        AUDI              RS4
49999     CITROEN               C2

                                                 version  price  \
0                                       SEAT Toledo  4p.    950
1                 CITROEN C1 PureTech 60KW 82CV Feel 5p.   6200
2      FORD Transit Connect Van 1.5 TDCi 100cv Ambien...   7851
3      VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...  19426
4      FORD Transit 350 96kW L4 Ambiente Propulsion T...  22850
...                                                  ...    ...
49995        HYUNDAI i30 1.4 TGDI Tecno Fastback DCT 5p.  18490
49996  RENAULT Laguna Coupe Limited 2.0 Energy dCi 15...  14500
49997           PEUGEOT 108 TOP Allure VTi 52kW 72CV 5p.  11000
49998           AUDI RS4 Avant 4.2 FSI 450cv quattro 5p.  47900
49999                    CITROEN C2 1.4 HDI VTR Plus 3p.   2790

       price_financed      fuel    year     kms  ...  doors       shift  \
0                 NaN    Diésel  2000.0  227000  ...      4      Manual
1                 NaN  Gasolina  2017.0   50071  ...      5      Manual
2              7024.0    Diésel  2016.0  103000  ...      4      Manual
3                 NaN    Diésel  2014.0  120000  ...      4      Manual
4             22800.0    Diésel  2017.0  107000  ...      2      Manual
...               ...       ...     ...     ...  ...    ...         ...
49995         16490.0  Gasolina  2018.0   47000  ...      5  Automático
49996         13551.0    Diésel  2015.0   68750  ...      2      Manual
49997          9000.0  Gasolina  2019.0   21422  ...      5      Manual
49998             NaN  Gasolina  2013.0   47900  ...      5  Automático
49999             NaN    Diésel  2006.0  106000  ...      3      Manual

                                color photos  is_professional  \
0                               Verde      5            False
1                              Blanco      6             True
2                              Blanco     10             True
3                              Blanco      9             True
4                              Blanco      4             True
...                               ...    ...              ...
49995                    Gris / Plata     26             True
49996  KNG Gris Casiopea (metalizado)     30             True
49997                    Gris / Plata     17             True
49998        Gris / Plata (Antracita)     20             True
49999                           Negro     21             True

                                 dealer   province country  \
0      0f4bb8455d27349b8273109b66a847f3    Navarra   Spain
1                         Autos Raymara   Tenerife   Spain
2                               Auto 96  Barcelona   Spain
3                              Inniauto    Navarra   Spain
4                  Autofleet España,s.l    Sevilla   Spain
...                                 ...        ...     ...
49995                   Flexicar Málaga     Málaga   Spain
49996                      Ocasion Plus     Málaga   Spain
49997                 Psa Retail Huelva     Huelva   Spain
49998                    Codigocar Lugo       Lugo   Spain
49999                   AUTOVALENCIA 19  Barcelona   Spain

              publish_date          insert_date
0      2020-12-18 10:47:13  2021-01-15 00:00:00
1      2021-01-02 11:25:40  2021-01-15 00:00:00
2      2020-12-16 10:51:45  2021-01-15 00:00:00
3      2020-11-25 11:09:14  2021-01-15 00:00:00
4      2021-01-12 20:00:34  2021-01-15 00:00:00
...                    ...                  ...
49995  2020-11-24 19:59:52  2021-01-15 00:00:00
49996  2021-01-13 17:02:41  2021-01-15 00:00:00
49997  2021-01-08 16:47:24  2021-01-15 00:00:00
49998  2021-01-13 16:22:53  2021-01-15 00:00:00
49999  2021-01-10 16:32:41  2021-01-15 00:00:00

[50000 rows x 21 columns]>

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,NaN,Diésel,2000.0,227000,...,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,NaN,Gasolina,2017.0,50071,...,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,103000,...,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,NaN,Diésel,2014.0,120000,...,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,107000,...,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00

In [6]:
# Check for missing values
print(df.isnull().sum())

# Delete column price_financed (not useful and lots of na)
df.drop(['price_financed'], axis = 1, inplace = True)

# Delete other non useful columns
df.drop(columns=['url', 'company', 'publish_date', 'insert_date', 'dealer', 'country'], inplace=True)

# Drop rows with missing values
cars = df.dropna()

# Show new dataframe
cars.shape[0]

url                    0
company                0
make                   2
model                  5
version                0
price                  0
price_financed     26437
fuel                  46
year                   2
kms                    0
power               8528
doors                  0
shift                111
color                594
photos                 0
is_professional        0
dealer                 0
province               6
country                0
publish_date           0
insert_date            0
dtype: int64

41245

In [7]:
# Calculate the average price by make
avg_price_by_make = cars.groupby("make")["price"].mean()
print(avg_price_by_make)

# Find the cars with high km and low price
high_kms_low_price =  cars[(cars['kms'] > 100000) & (cars['price'] < 5000)]
print(high_kms_low_price)

make
ABARTH          19098.333333
ALFA ROMEO      16249.721992
ALPINE          66000.000000
ASTON MARTIN    89578.666667
AUDI            21693.847582
                    ...
TESLA           53672.956522
TOYOTA          13848.601591
UMM              8000.000000
VOLKSWAGEN      15160.267028
VOLVO           23194.260749
Name: price, Length: 71, dtype: float64
             make        model  \
12     VOLKSWAGEN         Polo
43        PEUGEOT         1007
75        PEUGEOT          406
83     VOLKSWAGEN       Passat
88           FIAT  Doblò Cargo
...           ...          ...
49937        SEAT        Ibiza
49944     RENAULT       Mégane
49958        FORD        Focus
49982     CITROEN     Berlingo
49999     CITROEN           C2

                                                 version  price  \
12                 VOLKSWAGEN Polo 75 Trendline Auto 3p.   1300
43                   PEUGEOT 1007 1.6 Sporty 2Tronic 3p.   4200
75                            PEUGEOT 406 406 ST 2.0 4p.    800
83           VOLKSWAGEN Passat 2.0 TDI 140cv Advance 4p.   3400
88     FIAT Doblò Cargo Cargo Base 1.4 TJet Natural P...   4550
...                                                  ...    ...
49937             SEAT Ibiza 1.4 16V 75 CV REFERENCE 5p.   2200
49944         RENAULT Megane Business 1.5dCi105 eco2 5p.   2750
49958                      FORD Focus 1.8 TDCi Trend 3p.    999
49982                  CITROEN Berlingo 1.6 HDi 75 X 4p.   4600
49999                    CITROEN C2 1.4 HDI VTR Plus 3p.   2790

                    fuel    year     kms  power  doors   shift  \
12              Gasolina  2001.0  217000   75.0      3  Manual
43              Gasolina  2007.0  118000  110.0      3  Manual
75              Gasolina  1998.0  120000  135.0      4  Manual
83                Diésel  2006.0  272000  140.0      4  Manual
88     Gas natural (CNG)  2013.0  114000  120.0      3  Manual
...                  ...     ...     ...    ...    ...     ...
49937           Gasolina  2005.0  120000   75.0      5  Manual
49944             Diésel  2009.0  314000  105.0      5  Manual
49958             Diésel  2003.0  240000  115.0      3  Manual
49982             Diésel  2010.0  160000   75.0      4  Manual
49999             Diésel  2006.0  106000   70.0      3  Manual

                                           color  photos  is_professional  \
12                                          Azul       1            False
43                                         Negro      13             True
75                                          Rojo      13            False
83                                  Gris / Plata       9             True
88                                        Blanco      35            False
...                                          ...     ...              ...
49937                                      Negro       8            False
49944                               Gris / Plata       8            False
49958  Azul (OFERTA MES!!! ENTREGA INMEDIATA!!!)      17             True
49982                                     Blanco      12             True
49999                                      Negro      21             True

          province
12       Barcelona
43        Baleares
75          Toledo
83          Madrid
88          Madrid
...            ...
49937  Ciudad Real
49944     Alicante
49958       Madrid
49982       Madrid
49999    Barcelona

[5254 rows x 14 columns]

# MODELS

## Linear Regression

In [62]:
# Build a linear regression model to predict

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


# Select the variables to use in the model
X = cars[["kms", "year","power","doors"]]
y = cars["price"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)

# Calculate the error metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mape = np.mean(np.abs((y_test - y_pred)/y_test))*100

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Error: 5098.54404884387
Root Mean Squared Error: 9488.522257226106
Mean Absolute Percentage Error: 60.31773955235137

### Object to numeric Codification

In [9]:
from sklearn.preprocessing import LabelEncoder 

# Create a LabelEncoder object
make_le = LabelEncoder()
model_le = LabelEncoder()
fuel_le = LabelEncoder()
shift_le = LabelEncoder()
color_le = LabelEncoder()
province_le = LabelEncoder()

# Fit the encoder to the "make" column
make_le.fit(cars["make"])
model_le.fit(cars["model"]) 
fuel_le.fit(cars["fuel"])
shift_le.fit(cars["shift"])
color_le.fit(cars["color"]) 
province_le.fit(cars["province"])

# Transform the "make" column into numeric values
make_encoded = make_le.transform(cars["make"])
model_encoded = model_le.transform(cars["model"]) 
fuel_encoded = fuel_le.transform(cars["fuel"])
shift_encoded = shift_le.transform(cars["shift"])
color_encoded = color_le.transform(cars["color"])  
province_encoded = province_le.transform(cars["province"]) 

# Add the encoded values to the dataset
cars["make_encoded"] = make_encoded
cars["model_encoded"] = model_encoded
cars["fuel_encoded"] = fuel_encoded
cars["shift_encoded"] = shift_encoded
cars["color_encoded"] = color_encoded 
cars["province_encoded"] = province_encoded

C:\Users\adria\AppData\Local\Temp\ipykernel_14428\3521065397.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars["make_encoded"] = make_encoded
C:\Users\adria\AppData\Local\Temp\ipykernel_14428\3521065397.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars["model_encoded"] = model_encoded
C:\Users\adria\AppData\Local\Temp\ipykernel_14428\3521065397.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars["version_encoded"] = version_encoded
C:\Users\adria\AppData\Local\Temp\ipykernel_14428\3521065397.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars["fuel_encoded"] = fuel_encoded
C:\Users\adria\AppData\Local\Temp\ipykernel_14428\3521065397.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars["shift_encoded"] = shift_encoded
C:\Users\adria\AppData\Local\Temp\ipykernel_14428\3521065397.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars["color_encoded"] = color_encoded
C:\Users\adria\AppData\Local\Temp\ipykernel_14428\3521065397.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars["province_encoded"] = province_encoded

## Linear regression endcoded

In [64]:
# Build a linear regression model to predict

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


# Select the variables to use in the model
X = cars[["make_encoded", "model_encoded", "fuel_encoded", "kms", "year", "power", "doors", "shift_encoded", "color_encoded", "photos", "is_professional", "province_encoded"]]
y = cars["price"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)

# Calculate the error metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mape = np.mean(np.abs((y_test - y_pred)/y_test))*100

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Error: 5007.625758239649
Root Mean Squared Error: 10294.703544953505
Mean Absolute Percentage Error: 62.06795221213911

In [11]:
# We Calculate Pearson's correlation coefficient again but this time we have encoded the object data types to numeric
corr = cars.corr()['price'].sort_values()
print(corr)

shift_encoded      -0.424406
kms                -0.404284
version_encoded    -0.068318
make_encoded       -0.057559
doors              -0.029989
province_encoded   -0.004448
color_encoded       0.019932
model_encoded       0.039197
fuel_encoded        0.103929
photos              0.194913
is_professional     0.205932
year                0.410204
power               0.693618
price               1.000000
Name: price, dtype: float64

C:\Users\adria\AppData\Local\Temp\ipykernel_14428\1363244676.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = cars.corr()['price'].sort_values()

## Decision Tree Regressor Model

In [52]:
# Import the necessary libraries and packages

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor


# Select the variables to use in the model
X = cars[["make_encoded", "model_encoded", "fuel_encoded", "kms", "year", "power", "doors", "shift_encoded", "color_encoded", "photos", "is_professional", "province_encoded"]]
y = cars["price"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Train a tree model
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)

# Calculate the error metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mape = np.mean(np.abs((y_test - y_pred)/y_test))*100

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Error: 2973.652901244545
Root Mean Squared Error: 7364.629448067706
Mean Absolute Percentage Error: 22.649596875326633

## Random Forest Regressor Model

In [53]:
# Import the necessary libraries and packages

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Select the variables to use in the model
X = cars[["make_encoded", "model_encoded", "fuel_encoded",  "year", "kms", "power", "doors", "shift_encoded", "color_encoded", "photos", "is_professional", "province_encoded"]]
y = cars["price"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Train a random forest model
model = RandomForestRegressor()
model.fit(X_train, y_train)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)

# Calculate the error metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mape = np.mean(np.abs((y_test - y_pred)/y_test))*100

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Error: 2188.1233934247693
Root Mean Squared Error: 4491.491374243745
Mean Absolute Percentage Error: 17.681679756578735

## Multi-layer Perceptron Regressor (NeuralNetwork)

In [14]:
# Import the necessary libraries and packages

from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor

# Select the variables to use in the model
X = cars[["make_encoded", "model_encoded", "fuel_encoded",  "year", "kms", "power", "doors", "shift_encoded", "color_encoded", "photos", "is_professional", "province_encoded"]]
y = cars["price"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Train a neural network model
model = MLPRegressor(hidden_layer_sizes=(32,16,8), activation="relu", solver="adam")
model.fit(X_train, y_train)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)

# Calculate the error metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mape = np.mean(np.abs((y_test - y_pred)/y_test))*100

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Error: 4729.844807928953
Root Mean Squared Error: 7284.259234204676
Mean Absolute Percentage Error: 60.297238572662884

## K-Nearest Neighbors Regressor

In [15]:
# Import the necessary libraries and packages

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

# Select the variables to use in the model
X = cars[["make_encoded", "model_encoded", "fuel_encoded",  "year", "kms", "power", "doors", "shift_encoded", "color_encoded", "photos", "is_professional", "province_encoded"]]
y = cars["price"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Train a KNN regressor
model = KNeighborsRegressor(n_neighbors=3, weights='uniform')
model.fit(X_train, y_train)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)

# Calculate the error metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mape = np.mean(np.abs((y_test - y_pred)/y_test))*100

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Error: 6898.21596357955
Root Mean Squared Error: 14103.65211321706
Mean Absolute Percentage Error: 66.46649805568028

## Extreme Gradient Boosting Regressor

In [58]:
# Import the necessary libraries and packages
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

# Select the variables to use in the model
X = cars[["make_encoded", "model_encoded", "fuel_encoded",  "year", "kms", "power", "doors", "shift_encoded", "color_encoded", "photos", "is_professional", "province_encoded"]]
y = cars["price"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Train an XGBoost model
model = XGBRegressor()
model.fit(X_train, y_train)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)

# Calculate the error metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mape = np.mean(np.abs((y_test - y_pred)/y_test))*100

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Error: 2128.8657957647683
Root Mean Squared Error: 4860.393580289556
Mean Absolute Percentage Error: 16.14498729631551

# Example Evaluation

In [65]:

new_row_2 = {'make':'CITROEN', 'model': 'C1', 'fuel': 'Gasolina', 'year': 2000.0, 'kms': 55505, 'power': 82.0, 
'doors': 5, 'shift': 'Manual', 'color':'Blanco', 'photos': 7, 'is_professional': True, 'province': 'Tenerife'}

new_row = {'make':'BMW', 'model': 'Serie 3', 'fuel': 'Diésel', 'year': 2004.0, 'kms': 220000.0, 'power': 150.0, 
'doors': 5, 'shift': 'Manual', 'color':'Azul', 'photos': 7, 'is_professional': False, 'province': 'Valencia'}

my_car = pd.DataFrame(new_row, index=[0])

# Transform the "make" column into numeric values
make_encoded = make_le.transform(my_car["make"])
model_encoded = model_le.transform(my_car["model"])
fuel_encoded = fuel_le.transform(my_car["fuel"])
shift_encoded = shift_le.transform(my_car["shift"])
color_encoded = color_le.transform(my_car["color"])  
province_encoded = province_le.transform(my_car["province"]) 

# Add the encoded values to the dataset
my_car["make_encoded"] = make_encoded
my_car["model_encoded"] = model_encoded
my_car["fuel_encoded"] = fuel_encoded
my_car["shift_encoded"] = shift_encoded
my_car["color_encoded"] = color_encoded 
my_car["province_encoded"] = province_encoded

X = my_car[["make_encoded", "model_encoded", "fuel_encoded",  "year", "kms", "power", "doors", "shift_encoded", "color_encoded", "photos", "is_professional", "province_encoded"]]

my_car.head(1)

y_pred = model.predict(X)

print("An aproximated fair Price would be: ", y_pred,  "€")

c:\Users\adria\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- version_encoded

  warnings.warn(message, FutureWarning)

ValueError: X has 12 features, but LinearRegression is expecting 13 features as input.